<header id="hero" class="flex-col my-8 mx-auto w-full xl:w-3/5">
  <div class="text-6xl font-extrabold text-center mb-4">
    {{ 'HERO.TITLE_PREFIX' | translate }}
    <span
      class="text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-indigo-600"
      >{{ 'HERO.TITLE_SUFFIX' | translate }}</span
    >
  </div>
  <p class="text-xl font-medium text-center text-zinc-600 mb-6">
    {{ 'HERO.SUBTITLE' | translate }}
  </p>
  <div
    class="tags flex flex-col justify-center items-center md:flex-row gap-4 md:gap-8 mb-4 justify-center"
  >
    <div class="tag flex items-center gap-1">
      <span class="material-symbols-outlined text-green-500">
        check_circle
      </span>
      <span class="font-light">{{ 'HERO.TAGS.ATS' | translate }}</span>
    </div>
    <div class="tag flex items-center gap-1">
      <span class="material-symbols-outlined text-blue-500">
        android_cell_dual_4_bar
      </span>
      <span class="font-light">{{ 'HERO.TAGS.ACTION' | translate }}</span>
    </div>
    <div class="tag flex items-center gap-1">
      <span class="material-symbols-outlined text-purple-500"> bolt </span>
      <span class="font-light">{{ 'HERO.TAGS.SCORING' | translate }}</span>
    </div>
  </div>
</header>
