<div class="stat-card rounded-lg bg-white p-8 shadow-md min-w-80 h-full flex flex-col">
  <div class="flex mb-4">
    <div
      class="icon rounded-md p-3 flex items-center justify-center"
      [ngClass]="iconBackgroundColorClass()"
    >
      <span
        class="material-symbols-outlined text-4xl"
        [ngClass]="iconColorClass()"
      >
        {{ icon() }}
      </span>
    </div>
    <span class="text-2xl font-bold flex-1 text-end">{{ value() }}</span>
  </div>
  <div class="flex-1"></div>
  <p class="text-lg font-bold">{{ label() }}</p>
  <p class="text-xs font-medium text-stone-600">{{ subLabel() }}</p>
</div>
