<div id="analysis">
  <header class="text-center text-3xl font-bold">Analysis Results</header>
  <section class="content flex gap-8 mt-8 mb-8">
    <div
      class="score-card bg-white p-6 rounded-lg shadow-md flex flex-col items-center justify-center"
    >
      <app-score-circle [score]="store.analysisResult()?.overallScore || 0">
      </app-score-circle>
    </div>
    <div class="stat-cards flex flex-wrap gap-4">
      <app-stat-card
        label="Power Verbs"
        subLabel="Strong action words found"
        icon="bolt"
        iconColorClass="text-green-500"
        iconBackgroundColorClass="bg-green-200"
        [value]="store.analysisResult()?.powerVerbs?.score || 0"
      ></app-stat-card>
      <app-stat-card
        label="Quantifiable Metrics"
        subLabel="String action words found"
        icon="format_list_numbered"
        iconColorClass="text-sky-500"
        iconBackgroundColorClass="bg-sky-200"
        [value]="store.analysisResult()?.quantifiableMetrics?.count || 0"
      ></app-stat-card>
      <app-stat-card
        label="Essential Sections"
        subLabel="Structure completeness"
        icon="bento"
        iconColorClass="text-violet-500"
        iconBackgroundColorClass="bg-violet-200"
        [value]="
          store.analysisResult()?.essentialSections?.detected?.length || 0
        "
      ></app-stat-card>
      <app-stat-card
        label="Keyword Match"
        subLabel="Against job description"
        icon="feature_search"
        iconColorClass="text-orange-500"
        iconBackgroundColorClass="bg-orange-200"
        [value]="store.analysisResult()?.keywordMatch?.score + '%' || 0"
      ></app-stat-card>
    </div>
  </section>
  <app-analysis-details></app-analysis-details>
</div>
